.review-container{
 
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.preview-container{
  width: 400px;
  margin: 0 auto;
  padding-top: 20px;
  display: grid;
  place-items: center;
}
